<!--=============================== strart footer =======================-->
<footer>
    <div class="info">
        <img src="../../../assets/imgs/header/nav/log.PNG" alt="">
        <ul class="soical">
            <li> <a href="#"> <i class="fab fa-facebook"></i>  </a>        </li>
            <li> <a href="#"> <i class="fab fa-twitter-square"> </i> </a>  </li>
            <li> <a href="#"> <i class="fab fa-instagram"></i>   </a>      </li>
        </ul>
        <ul class='keywords'>
            <li> <a href="#"> Let’s Chat  </a></li>
            <li> <a href="#"> Projects@mussada.com  </a></li>
            <li> <a href="#"> Work  </a></li>
            <li> <a href="#"> Services  </a></li>
            <li> <a href="#"> Blog </a></li>
        </ul>
        <p class="text-center Copyright">Copyright © 2020 Mussada | Digital Agency &nbsp; </p>
    </div>
</footer>
<!--=============================== end fooger =======================-->