/**************************************** start footer   ********************/
footer{
    background:#659404;
    padding:15px 30px 0 30px;
    margin-top: 100px;
    .cont{
        background:#78B004;
    }
    @media(max-width:767px){
        margin-top:50px;
    }
    .links{
        padding-left: 40px;
        @media(max-width:992px){
            margin: 30px ;
            padding-left:0;
        }
        @media(max-width:700px){
           display: block !important;
        }
        h2{
            color:#f1f1f1;
            text-transform: capitalize;
            margin-bottom: 10px;
            @media(max-width:767px){
                font-size: 25px;
                margin-bottom:10px;
            }
        }
        ul{
            li{
                text-transform: capitalize;
                font-size: 15px;
                margin-top: 8px;
                cursor: pointer;
                @media(max-width:767px){
                    font-size: 18px;
                }
                @media(max-width:992px){
                    width: 100%;
                }
                a{
                    text-decoration:none;
                    color:#fff;
                    cursor: pointer !important;
                    &:hover{
                        opacity: .5;
                    }
                    @media(max-width:500px){
                        font-size: 16px;
                    }
                }
                i{
                    margin-right: 5px;
                }
            }
        }
    }
    
}
/**************************************** end  footer    ********************/



/**************************************** start copy right *******************/
.copyright{
    padding:20px 0;
    background:#659404;
    @media(max-width:992px){
        text-align:center;
    }
    .copy{
        color:#f1f1f1;
        position: relative;
        text-transform: capitalize;
        font-size: 22px;
        @media(max-width:767px){
            font-size:18px;
            margin-bottom:0;
        }
    }
    .info{
        text-align:right;
        color:#f1f1f1;
        @media(max-width:992px){
            text-align:center;
            margin-top:20px;
        }
        p{
            text-transform: capitalize;
            color:#f80;
            @media(max-width:992px){
                margin-bottom:0;
            }
            a{
                color:#666;
                cursor: pointer;
                &:hover{
                    color:#f1f1f1;
                }
            }
        }
        .social a{
            margin:0 18px;
            font-size: 22px;
            cursor: pointer;
        }
    }

    .cach_one{
        display: none;
        @media(max-width: 991px){
            display: block;
            margin-bottom: 10px;
        }
    }
    .cach_two{
        display: none;
        @media(min-width: 992px){
            display: block;
        }
    }
}
/**************************************** start copy right   ********************/