<header>
  <owl-carousel-o [options]="customOptions" class='owl'>
      <ng-template carouselSlide>
        <div class="slide">
          <img src="../../../assets/imgs/header_slider/1.jpg" alt="img 1">
          <div class="info wow bounceInDown">
            <h1> new arrivals </h1>
            <span> save up to <sub>60</sub>% off</span>
            <p class="lead"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <div class="cont_button"> <button> shop now </button> </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <img src="../../../assets/imgs/header_slider/2.jpg" alt="img 2">
          <div class="info wow swing" data-wow-delay="5s" data-wow-iteration="1">
            <h1> beauty flowers </h1>
            <span> save up to <sub>55</sub>% off</span>
            <p class="lead"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <div class="cont_button"> <button> shop now </button> </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide">
          <img src="../../../assets/imgs/header_slider/4.jpg" alt="img 3">
          <div class="info wow jackInTheBox" data-wow-delay="10s" >
            <h1> collections 2021 </h1>
            <span> save up to <sub>40</sub>% off</span>
            <p class="lead"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <div class="cont_button"> <button> shop now </button> </div>
          </div>
        </div>
      </ng-template>
  </owl-carousel-o>
</header>


