
$main_color:#081D46;
$second_color:#00DD8D;
$pargraph_color:#727E95;

/*================================= start header  =======================*/
header{
    overflow: hidden;
    height: 100vh;
    .my_img{ //background 
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 1;
        opacity: .05;
        left: 0;
        top:180px;
    }
    .eg{ //small egg
        width: 220px;
        height: 200px;
        margin-top: 50px;
        position: relative;
        z-index: 2;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -10;
            width: 100%;
            height: 100%;
            background-color: #F7F7FF;
            transform: translate(-50%, -50%) rotate(240deg);
            transition: transform 0.3s ease 0s;
            border-radius: 63.5% 36.5% 32% 68% / 47.5% 52.5%;
            width: 100%;
            height: 100%;
        }
    }
    .big{ //small egg
        position: relative;
        .big_eg{
            width: 920px;
            height: 500px;
            margin-top: 50px;
            position: relative;
            right: -740px;
            z-index: 2;
            &::before{
                content: '';
                position: absolute;
                top: -31%;
                left: 50%;
                z-index: -10;
                width: 100%;
                height: 100%;
                background-color: #F7F7FF;
                -webkit-transform: translate(-0%, -50%) rotate(280deg);
                -moz-transform: translate(-50%, -50%) rotate(280deg);
                -ms-transform: translate(-50%, -50%) rotate(280deg);
                transform: translate(-50%, -50%) rotate(280deg);
                -webkit-transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                border-bottom-left-radius: 68% 52.5%;
                border-bottom-right-radius: 32% 47.5%;
                border-top-left-radius: 63.5% 47.5%;
                border-top-right-radius: 36.5% 52.5%;

            }
        }
    }

    .info{
        position: absolute;
        top:50%;
        left: 50%;
        width: 1300px;
        margin-left: -650px;
        z-index: 99;
        text-align: center;
        @media(max-width:1350px){
            width: 900px;
            margin-left: -450px;
        }
        @media(max-width:768px){
            width:100%;
            margin-left:0;
            left:0;
            top:30%;
        }
        h2{
            font-weight: bold;
            font-size: 6rem;
            @media(max-width:1350px){
                font-size: 4rem;
            }
            @media(max-width:991px){
                font-size: 3rem;
            }
            @media(max-width:768px){
                font-size: 2rem;
            }
           
            span{
                color:$main_color;
            }
        }
        p{
            width: 66%;
            margin: auto;
            font-size: 29px;
            text-align: center;
            font-weight: 400;
            color:$pargraph_color;
            @media(max-width:991px){
                font-size: 20px;
            }
            @media(max-width:768px){
                font-size: 17px;
            }
        }
        .buttons{
            margin-top: 20px;
            button{
                padding:18px 48px;
                margin: 15px;
                border-radius: 10px;
                text-transform: capitalize;
                font-weight: bold;
                color:#fff;
                border: none;
                outline: none;
                transition: all .3s ease-in-out;
                
                @media(max-width:500px){
                    display: block;
                    width:90%;
                    padding:15px 40px;
                    margin: auto;
                }
                
            }
            .one{
                background: $second_color;
                opacity: .8;
                &:hover{
                    opacity: 1;
                }
            }
            .two{
                color:$second_color;
                background: #fff;
                box-shadow: 0 1px 3px #999;
                @media(max-width:500px){
                    margin-top: 7px;
                }
                &:hover{
                    background:#F7F7FF;
                }
            }
        }
    }
}
/*================================= end  header   =======================*/





/*================================= start what we do  =======================*/
.what_we_do{
    margin-top: 200px;
    @media(max-width:767px){
        margin-top: 120px;
    }
    .title{
        margin: auto;
        text-align: center;
        @media(max-width:767px){
            margin-top: 30px;
        }
        .min_p{
            color:$second_color;
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 16px;
        }
        ._h1{
            color:$main_color;
            font-weight: bold;
            margin-top: 0;
            @media(max-width:400px){
                font-size: 25px;
            }
        }
        .big_p{
            width: 62%;
            margin: auto;
            font-size: 18px;
            color:$pargraph_color;
            font-weight: 400;
            font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
            @media(max-width:768px){
                font-size: 16px;
                width: 98%;
            }
        }
    }

    

    //we know
    .we_know{
        margin-top: 70px;
        display: flex;
        .the_col{
            padding:0;
        }
        @media(max-width:991px){//switch in small screen 
            .col_img{
                order: 2;
            }
            .col_info{
                order:1;
            }
        }
        .cont_img{
            padding-top: 40px;
            padding-right: 20px;
            @media(max-width:768px){
                padding-top: 0;
                margin-bottom: 20px;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        .info{
            @media(max-width:768px){
                padding: 15px;
            }
            .title{
                text-align: left;
                margin-bottom: 50px;
                @media(max-width:660px){
                    padding-left:15px;
                }
                h2{
                    font-weight: bold;
                    font-size: 27px;
                    color:$main_color
                }
                p{
                    color:$pargraph_color;
                    font-weight: 400;
                    font-size: 17px;
                }
            }
            .item{
                display: flex;
                margin-top: 25px;
                .cont_img{
                    position: relative;
                    margin-right: 12px;
                    img{
                        position: absolute;
                        display: inline-block;
                        width:40px;
                        height: 40px;
                        top:0;
                        right: 2px;
                        @media(max-width:767px){
                            left:0px;
                            top:13px;
                        }
                    }
                }
                .info{
                    h3{
                        font-size: 17px;
                    }
                    p{
                        color:$pargraph_color
                    }
                }
            }
        }
    }
}
/*================================= end  what we do   =======================*/




/*================================= start our work  =======================*/
.our_work{
    margin-top: 400px;
    .title{
        position: relative;
        button{
            position: absolute;
            border: none;
            outline: none;
            top:-250px;
            left:50%;
            margin-left: -140px;
            display: block;
            box-sizing: border-box;
            box-shadow: rgb(0 0 0 / 10%) 5px 20px 30px;
            border-radius: 73px;
            padding: 14px 28px;
            width: 280px;
            height: 60px;
            background-color: $second_color;
            color: rgb(255, 255, 255);
            font-weight: 600;
            line-height: 32px;
            letter-spacing: 0.22em;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            transition: transform 0.3s ease 0s;
        }
    }
    .row_one{
        .cont_img{
            width:500px;
            height: 400px;
            transform:translate(42px, 39px) rotate(-11deg);
             box-shadow: -1px -3px 13px -1px #365a63;
             @media(max-width:1200px){
                width:400px;
                height: 380px;
            }
            @media(min-width:769px) and (max-width:990px){
                width:500px;
                height: 400px;
                margin: 1px auto;
            }
            @media(max-width:768px){
                width:300px;
                height: 300px;
                margin: 1px auto;
                position: relative;
                right: 35px;
            }
            @media(max-width:400px){
                width:270px;
                height: 270px;
                transform: rotate(9deg);
                position: relative;
                right: -5px;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        .info{
                padding-top: 70px;
                @media(max-width:991px){
                    margin:auto;
                    text-align: center;
                    padding-top: 130px;
                }
                @media(max-width:400px){
                    text-align: center;
                    padding-top: 70px;
                    padding-right: 0;
                }
             h2{
                 font-weight: bold;
                 text-transform: uppercase;
                 font-size: 22px;
                 letter-spacing: .2em;
                 color: $main_color;
             }
             p{
                 margin-top: 10px;
                 max-width: 380px;
                 font-size: 32px;
                 font-weight: 100;
                 line-height: 1.125;
                 color:$pargraph_color;
                 @media(max-width: 991px){
                     margin: auto;
                     font-size: 27px;
                 }
                 @media(max-width:768px){
                    font-size: 25px;
                }
                 @media(max-width:400px){
                    font-size: 21px;
                }
             }
             button{
                 outline: none;
                 border:none;
                 display: inline-block;
                 box-shadow: rgb(0 0 0 / 10%) 5px 20px 30px 0px;
                 margin-top: 20px;
                 border-radius: 100px;
                 padding: 6px 28px;
                 background: linear-gradient(to right, rgb(97, 108, 246), rgb(118, 227, 212));
                 color: rgb(255, 255, 255);
                 font-weight: 700;
                 line-height: 32px;
                 letter-spacing: 0.225em;
                 text-align: center;
                 text-decoration: none;
                 text-transform: uppercase;
                 transition: transform 0.3s ease 0s;
                 &:hover{
                     background: linear-gradient(to right,  rgb(118, 227, 212), rgb(97, 108, 246));
                 }
             }
         }
    }

    .row_two{
        @extend .row_one;
        margin-top: 300px;
        @media(max-width:991px){
            margin-top: 170px;
            .col_img{
                order: 1;
            }
            .col_info{
                order:2;
            }
        }
        .cont_img{
            transform:translate(42px, 39px) rotate(11deg);
            @media(max-width:767px){
                transform:translate(42px, 39px) rotate(-11deg);
                position: relative;
                right: 40px;
                bottom: 40px;
            }
        }
    }

    .row_three{
        @extend .row_one;
        margin-top: 300px;
        @media(max-width:991px){
            margin-top: 170px;
        }
        .info{
            @media(min-width: 992px){
                padding-top: 20px;
            }
        }
    }
}
/*================================= end  our work   =======================*/




/*================================= start services =======================*/
.services{
    margin-top: 300px;
    overflow: hidden;
    svg{
        fill: #EDF0F5;
    }
    .body{
        background: #EDF0F5;
        padding: 150px 0;
        .title{
            h1{
                color:$main_color;
                text-transform: capitalize;
                font-size: 45px;
            }
        }
        ul{
            display: flex;
            padding: 0 100px;
            justify-content: space-between;
            @media(max-width:1100px){
                padding: 0 20px;
            }
            @media(max-width:768px){
                    flex-wrap: wrap;
            }
            li{
                margin: 40px auto;
                position: relative;
               
                a{
                    width: 220px;
                    height: 200px;
                    display: block;
                    position: relative;
                    @media(max-width:1100px){
                        width: 200px;
                        height: 180px;
                    }
                    @media(max-width:930px){
                        width: 180px;
                        height: 160px;
                    }
                    &:hover{
                        &::before{
                            border-radius:  63.5% 36.5% 32% 68%  / 60% 40% ;
                        }
                    }
                    &::before{
                        transition: all .3s ease-in-out !important;
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 1;
                        transition: transform 0.3s ease 0s;
                        width: 100%;
                        height: 100%;
                        border-radius: 63.5% 36.5% 32% 68% / 47.5% 52.5%;
                    }
                    span{
                        position: absolute;
                        display: inline-block;
                        width: 150px;
                        z-index: 99;
                        color: #f1f1f1;
                        left:50%;
                        top:48%;
                        margin-left: -75px;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: .2em;
                    }
                }
                .a_one{
                    &::before{
                        transform: translate(-50%, -50%) rotate(240deg);
                        background-color: #5F6CFF;

                    }
                }

                .a_two{
                    &::before{
                        transform: translate(-50%, -50%) rotate(280deg);
                        background-color:#F459A5;
                    }
                }  

                .a_three{
                    &::before{
                        transform: translate(-50%, -50%) rotate(240deg);
                        background-color:#FFA53C;
                    }
                }

                .a_four{
                    &::before{
                        transform: translate(-50%, -50%) rotate(280deg);
                        background-color: #74D9D7;
                    }
                }
            }
        }  
    }
}
/*================================= end  services  =======================*/









//my fram work
.soical{
    list-style: none;
    padding:0;
    margin:50px auto;
    display: flex;
    width:150px;
    justify-content: space-around;
    li{
        i{
            font-size: 27px;
        }
        &:first-of-type{
            i{
                color:#F459A5;
            }
            
        }
        &:nth-of-type(2){
            i{
                color:#5F6CFF
            }
        }
        &:last-of-type{
            i{
                color:#74D9D7;
            }
        }
    }
}



.effect_button{
    outline: none;
    border:none;
    display: inline-block;
    box-shadow: rgb(0 0 0 / 10%) 5px 20px 30px 0px;
    margin-top: 20px;
    border-radius: 100px;
    padding: 6px 28px;
    background: linear-gradient(to right, rgb(97, 108, 246), rgb(118, 227, 212));
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.225em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.3s ease 0s;
    a{
        text-decoration: none;
        color:#fff;
    }
    &:hover{
        background: linear-gradient(to right,  rgb(118, 227, 212), rgb(97, 108, 246));
    }
}