  <!--============================ start navbar  =========-->
  <nav>
    <div class="container">
        <div class="row">
            <div class="col col-md-3">
                <a class='logo' routerLink=''>
                     <img  src="../../../assets/imgs/header/nav/log.PNG" alt="">
                </a>
            </div>
            <div class="col col-md-9">
                <div class="bars d-sm-block d-lg-none"> 
                    <i class="fas fa-bars open"></i>
                </div>

                <div class="list">
                    <ul class="ul_list list-unstyled">
                        <li class="d-sm-block d-lg-none"> <a href=""> <img style="border-radius: 13px; height: 40px;"  src="../../../assets/imgs/header/nav/log.PNG">  </a></li>
                        <li> <a href="#" data-scroll='#work'> work  </a> </li>
                        <li> <a href="#" data-scroll='#services'> services </a> </li>
                        <li> <a class="get" href="" data-scroll='#satrs'> get startss  </a> </li>
                        <li class='d-sm-block d-lg-none'>
                            <ul class="soical">
                                <li> <a href="#"> <i class="fab fa-facebook"></i>  </a>        </li>
                                <li> <a href="#"> <i class="fab fa-twitter-square"> </i> </a>  </li>
                                <li> <a href="#"> <i class="fab fa-instagram"></i>   </a>      </li>
                            </ul>
                        </li>
                        <li class='d-sm-block d-lg-none mail'> <a href="#"> projects@Mussada.info </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--============================ end navbar  =========-->
