<nav  class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand logo" href="#"> <i class="fab fa-pagelines"></i> flower </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav main_ul ">
            <li class="nav-item">
                <a class="nav-link  main_a" href="#" data-scroll="#home"> home   </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  main_a" href="#" data-scroll="#home"> shop   </a>
            </li>
            <!--
            <li class="nav-item dropdown nav_courses">
                <a class="nav-link dropdown-toggle comp main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   shop
                </a>
                <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='computer/Level-one'>  one  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='computer/Level-two'>   two </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='computer/Level-three'>  three   </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='computer/Level-four'>  four  </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-link  main_a" href="#" > pages    </a>
            </li>
 
            <li class="nav-item">
                <a class="nav-link  main_a" href="#"> contact   </a>
            </li>

        </ul>
        <ul class='navbar-nav list-unstyled search_ul '>
            <li class="nav-item">
                <input type="search" placeholder="search here">
            </li>
        </ul>
        <!--
        <ul class='navbar-nav list-unstyled list ul_register'>
            <li class='mygumtree nav-item dropdown '> 
                <a class="nav-link dropdown-toggle main_a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    my flowers<i class="fas fa-user-circle"></i>  
                </a>
                <div class="down dropdown-menu">
        
                    <p><span>   Welcome to Gumgree. </span> Sign in or Register to:</p>
                    <ul class='list-unstyled'>
                        <li> <i class="fas fa-check"></i> Send and receive messages  </li>
                        <li> <i class="fas fa-check"></i> Post and manage your ads </li>
                        <li> <i class="fas fa-check"></i> Rate other users </li>
                    </ul>
                    <div class="buttons" >
                        <button routerLink='signup'> Creat acount </button>
                        <button routerLink='login'>  Sgin in </button>
                    </div>
                </div>
            </li>
        </ul>
        -->
    </div>
</nav>
